p{
  color: antiquewhite;
}
div {
  color : burlywood;
}
header{
  position: fixed;
  width: 100%;
  top: 0px;
  margin-top: 0px;
  z-index: 50;
}
#all{
  margin-top: 60px;
}
.product{
  height: 450px;
  text-align: center;
  position: relative;
}
.product-image{
  margin:5px;
  max-height: 70%;
  object-fit: contain;
}
.product-special-prise{
  color: red;
}
.product-price{
  color: #002752;
}
.wrong-price{
  color: #002752;
  text-decoration: line-through;
}
.prod-btn{
  width: 50px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.img-prod-btn{
  width: 100%;
}
.prod-btn-discr{
  position: absolute;
  left: 10px;
  bottom: 10px;
}
#seaProduct{
  position: fixed;
  width: 50%;
  left: 25%;
  top: 25%;
  background-color: white;
}
.product-image-view{
  width: 25%;
}
li{
  list-style-type: none;
}
.product-image-cart{
  width: 25%;
}
.productInCart span {
  margin: 5px;
}
.send{
  align-self: center;
  margin: 10px;
  color: white;
  background-color: #002752;
}
#cart{
  text-align: center;
}
.category{
  color: #002752;
}